{% extends 'base.html.twig' %}

{% block title %}Fire Wire | Einsätze{% endblock %}

{% block navbar %}
    {% include "home/navbar.html.twig" %}
{% endblock %}

{% block body %}
    
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Einsatznummer</th>
                <th scope="col">Einsatzstichwort</th>
                <th scope="col">Meldebild</th>
                <th scope="col">Bemerkung</th>
                <th scope="col">Ort</th>
                <th scope="col">Objekt</th>
                <th scope="col">Einsatzmittel</th>
                <th scope="col">Alamierungszeit</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for einsatz in einsaetze %}
            <tr>
                <td>{{ einsatz.einsatznummer }}</td>
                <td>{{ einsatz.alarmStichwort }}</td>
                <td>{{ einsatz.meldebild }}</td>
                <td>{{ einsatz.bemerkung }}</td>
                <td>{{ einsatz.strasse }}</td>
                <td>{{ einsatz.objekt }}</td>
                <td>{{ einsatz.einsatzmittel }}</td>
                <td>{{ einsatz.alamierungszeit|date("d.m.Y h:m:s") }}</td>
                <td>
                {% if einsatz.status == 'offen' %}
                    <span class="badge badge-primary">{{ einsatz.status }}</span>
                {% else %}
                    <span class="badge badge-dark">{{ einsatz.status }}</span>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
