{% extends "base.html.twig" %}

{% block navbar %}
    {% include "admin/navbar.html.twig" %}
{% endblock %}

{% block body %}

    <table class="table data-table">
        <tbody>
        <tr>
            <td>
                Menschen leben beachten:
            </td>
            <td>
                <fieldset id="menschenLeben">
                    <label class="radio-inline btn btn-success">
                        <input class="custom-input-menschen-leben" type="radio" name="menschenLeben" value="true" {% if config.menschenLeben is same as("true") %}checked{% endif %}>
                    </label>
                    <label class="radio-inline btn btn-danger">
                        <input class="custom-input-menschen-leben" type="radio" name="menschenLeben" value="false" {% if config.menschenLeben is same as("false") %}checked{% endif %}>
                    </label>
                </fieldset>
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th>Stichwort</th>
            <th>Innerorts</th>
            <th>Außerorts</th>
            <th>Wasser</th>
        </tr>
        {% for entry in matrix %}
            <tr>
                <td>{{ entry.id }}</td>
                <td><h3>{{ entry.alarmstichwort }}</h3></td>
                {% set innerorts = entry.id ~ '-innerorts' %}
                {% set ausserorts = entry.id ~ '-ausserorts'%}
                {% set wasser = entry.id ~ '-wasser'%}

                <td>
                    <fieldset id="{{ innerorts }}">
                        <label class="radio-inline btn btn-success">
                            <input class="custom-input" type="radio" name="{{ innerorts }}" value="true" {% if entry.innerorts is same as("true") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-danger">
                            <input class="custom-input" type="radio" name="{{ innerorts }}" value="false" {% if entry.innerorts is same as("false") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-default" style="background-color: lightgray">
                            <input class="custom-input" type="radio" name="{{ innerorts }}" value="null" {% if entry.innerorts is same as("null") %}checked="checked"{% endif %}>
                        </label>
                    </fieldset>
                </td>
                <td>
                    <fieldset id="{{ ausserorts }}">
                        <label class="radio-inline btn btn-success">
                            <input class="custom-input" type="radio" name="{{ ausserorts }}" value="true" {% if entry.ausserorts is same as("true") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-danger" >
                            <input class="custom-input" type="radio" name="{{ ausserorts }}" value="false" {% if entry.ausserorts is same as("false") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-default" style="background-color: lightgray">
                            <input class="custom-input" type="radio" name="{{ ausserorts }}" value="null" {% if entry.ausserorts is same as("null") %}checked{% endif %}>
                        </label>
                    </fieldset>
                </td>
                <td>
                    <fieldset id="{{ wasser }}">
                        <label class="radio-inline btn btn-success">
                            <input class="custom-input" type="radio" name="{{ wasser }}" value="true" checked {% if entry.wasser is same as("true") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-danger">
                            <input class="custom-input" type="radio" name="{{ wasser }}" value="false" {% if entry.wasser is same as("false") %}checked{% endif %}>
                        </label>
                        <label class="radio-inline btn btn-default" style="background-color: lightgray">
                            <input class="custom-input" type="radio" name="{{ wasser }}" value="null" {% if entry.wasser is same as("null") %}checked{% endif %}>
                        </label>
                    </fieldset>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('update-config') }}
{% endblock %}