{% extends 'base.html.twig' %}

{% block title %}Einsatzzentrale{% endblock %}

{% block navbar %}
    {% include "admin/navbar.html.twig" %}
{% endblock %}

{% block body %}
    <table class="table table-hover able-responsive-sm">
        <thead>
        <tr>
            <th scope="col">Sichtbarkeit</th>
            <th scope="col">Einsatznummer</th>
            <th scope="col">Einsatzstichwort</th>
            <th scope="col">Meldebild</th>
            <th scope="col">Bemerkung</th>
            <th scope="col">Ort</th>
            <th scope="col">Objekt</th>
            <th scope="col">Einsatzmittel</th>
            <th scope="col">Alamierungszeit</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for einsatz in einsaetze %}
            <tr>
                <td>
                {% if einsatz.sichtbarkeit == 'komplett' %}
                    <span class="badge badge-success">{{ einsatz.sichtbarkeit }}</span>
                {% elseif einsatz.sichtbarkeit == 'bedingt' %}
                    <span class="badge badge-warning">{{ einsatz.sichtbarkeit }}</span>
                {% else %}
                    <span class="badge badge-danger">{{ einsatz.sichtbarkeit }}</span>
                {% endif %}
                </td>
                <td>{{ einsatz.nachricht.einsatznummer }}</td>
                <td>{{ einsatz.nachricht.alarmstichwort }}</td>
                <td>{{ einsatz.nachricht.meldebild }}</td>
                <td>{{ einsatz.nachricht.bemerkung }}</td>
                <td>{{ einsatz.nachricht.strasse }}</td>
                <td>{{ einsatz.nachricht.objekt }}</td>
                <td>{{ einsatz.nachricht.einsatzmittel }}</td>
                <td>{{ einsatz.nachricht.alamierungszeit }}</td>
                <td>
                {% if einsatz.nachricht.status == 'offen' %}
                    <span class="badge badge-primary">{{ einsatz.nachricht.status }}</span>
                    <a class="btn btn-success" type="submit" href="{{ path('einsatz_schliessen', { 'einsatznummer': einsatz.nachricht.einsatznummer }) }}">Schließen</a>
                {% else %}
                    <span class="badge badge-dark">{{ einsatz.nachricht.status }}</span>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
