{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block navbar %}
    {% include "admin/navbar.html.twig" %}
{% endblock %}


{% block body %}
    <section class="container p-4">
        {{  form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col text-center">
                <h3>Alarmnachricht</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.einsatznummer) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.einsatzstelle_zusatz) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.einsatzstelle_bemerkung) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.koordinaten) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.alarm_stichwort) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.meldebild) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.bemerkung) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.meldender) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.einsatzmittel) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3>Adresse</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.adresse.strasse) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.adresse.hausnummer) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.adresse.ortsteil, {
                    'label_attr': {'class': 'required'},
                    'attr': {'required': 'required'}
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.adresse.ort, {
                    'label_attr': {'class': 'required'},
                    'attr': {'required': 'required'}
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.adresse.objekt) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}